/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*::selection {
    background: #b3d4fc;
    text-shadow: none;
}*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a[href], label[for], select, 
input[type=checkbox], input[type=radio] {
	cursor: pointer;
}

button, input[type=button], input[type=image], 
input[type=reset], input[type=submit] {
	padding: 0;
	overflow: visible;
	cursor: pointer;
}

button::-moz-focus-inner, 
input[type=button]::-moz-focus-inner, 
input[type=image]::-moz-focus-inner, 
input[type=reset]::-moz-focus-inner, 
input[type=submit]::-moz-focus-inner {
	border: 0;
}

.hide {
	position: absolute !important;
	left: -9999em !important;
}

.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.ie7 .clearfix {
	zoom: 1; 
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

th, td {
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
}

address, cite, dfn {
	font-style: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #999;
	cursor: help;
}

sub, 
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

textarea {
	 overflow: auto;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ********************************************
	common area
**********************************************/
a{color: #583586;text-decoration: none;}
a:hover{text-decoration: none;}
img,
video{width: 100%;height: auto;}
body{background:#fff;}
.c_hl{color: #ee0000!important;}
.c_gray{color: #6f6f6f!important;}
.mg_t10{margin-top: 10px!important;}
.c_dark{color: #4e287e!important;}
.f_r{float: right;}

.clear_fix:after,#navigation ul:after,.container:after{content:'';display: block;clear:both;}

.c3_transition{-webkit-transition:0.3s;-ms-transition:0.3s;transition:0.3s;}


body{ background:#fff; font: 14px/1.6 'Microsoft YaHei',arial; color: #583586; }

#wrapper{}


/**********************************************
	头部
**********************************************/
.overlay{position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: #000;  opacity:0.6; filter:alpha(opacity=60); z-index: 9999; display: none;}

#header{position: relative;z-index: 10000;}

#logo{margin-bottom: -4px;position: relative;z-index:2;background: #fff;}

.topbar{height:30px;border-bottom:1px solid #cfcce4;background:-webkit-linear-gradient(#fff -3px,#eeebf8);background:-ms-linear-gradient(#fff -3px,#eeebf8);background:linear-gradient(#fff -3px,#eeebf8);padding:8px 15px 0;font-size: 16px;font-weight: bold;position: relative;}
.toptel{float: left;position: relative;padding-left: 22px;font-family: 'arial';}
.toptel i{background:url(../img/bg.png) no-repeat;width: 19px;height: 16px;background-size: 19px 16px;position: absolute;top:4px;left:0;}
.topnavhandle{float: right;}
.topnavhandle,#navigation-up span{padding-right: 16px;position: relative;cursor: pointer;}
.topnavhandle span{position: absolute;top:8px;right:0;width: 9px;height: 10px;font:0/0 arial;}
.topnavhandle span:after,#navigation-up span:after{position: absolute;top:0;right:0;content:'';border:1px solid;border-width:5px 0 5px 9px;border-color:transparent transparent transparent #603581}
.topnavhandle .on{-webkit-transform:rotate(90deg);-ms-transform:rotate(45deg);transform:rotate(90deg);}

#navigation{position: absolute;top:39px;left:0;right:0;line-height: 40px;background: #fff;display:none;}
#navigation h3{font-weight: bold;}
#navigation h3,#navigation .ill{background:-webkit-linear-gradient(#fff,#f7f6fe);background:-ms-linear-gradient(#fff,#f7f6fe);background:linear-gradient(#fff,#f7f6fe);}
#navigation a,#navigation h3{padding-left:20px;}
#navigation ul{background:#fff;border-bottom: 1px solid #cfcce4;}
#navigation li,.subnav li{font-weight: normal;border-top: 1px solid #cfcce4;position: relative;}
#navigation li{float:left;width:50%;}
#navigation li a:after,.imglist_1 h2 a:after,.subnav a:after{content:' ';width:10px;height:10px;border:#ccbee5 solid;border-width:2px 2px 0 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
#navigation li a:after,.subnav a:after{position:absolute;top:15px;right:20px;}
#navigation li:nth-child(odd) a{border-right: 1px solid #cfcce4;}
#navigation a{display: block;}
#navigation .ill{width: 100%;}
#navigation .ill a{border:0;}
#navigation h3 a{padding-left:0;}
#navigation-up{text-align: right;padding-right: 20px;cursor: pointer;}
#navigation-up span{font-weight: bold;}
#navigation-up span:after{top:4px;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);}

.menulogin { float: left; margin-left: 15px; }
.menulogin, #navigation-up span { padding-right: 16px; position: relative; cursor: pointer; }
.menulogin span { position: absolute; top: 8px; right: 0; width: 9px; height: 10px; font: 0/0 arial; }
.menulogin span:after, #navigation-up span:after { position: absolute; top: 0; right: 0; content: ''; border: 1px solid; border-width: 5px 0 5px 9px; border-color: transparent transparent transparent #603581; }
.menulogin .on { -webkit-transform: rotate(90deg); -ms-transform: rotate(45deg); transform: rotate(90deg); }



/**********************************************
	尾部
**********************************************/
#footer{position:relative;color: #fff;height: 47px;line-height: 47px;padding: 0 20px;border-top:1px solid #a686ad;background:-webkit-linear-gradient(#af8bb7,#bc95c5 50%,#bd95c5);background:-ms-linear-gradient(#af8bb7,#bc95c5 50%,#bd95c5);background:linear-gradient(#af8bb7,#bc95c5 50%,#bd95c5);}
#footer ul{position: absolute;top:9px;right:20px;font:0/0 'arial';}
#footer li{float: left;width: 28px;margin-left: 10px;}

.list_form .v_marked_info,
.friend .v_marked_info{color:#f00; display:none; font-size:12px;}
.list_form .notice_info,
.radio_error{color:#f00; display:none; font-size:12px; margin-left:5px;}
.val_code img{width:auto; height:auto; vertical-align:middle; margin:0 5px;}
.m_notice_info{color:#f00;}

.bottom-col { position: relative; margin-top: -10px; z-index: 20;}
.bottom-col .col-top { background: url('../img/bottom_bg.png?1397009887') repeat-x; background-size: 26.5px 10.5px; height: 10.5px; }
.bottom-col .col-content { background: #a396c8; }
.bottom-col .col-content .inner-content { border-bottom: 2px dashed #fff; }









#content{}

.banner{position: relative;}
.banner img{width: 100%; height: auto;}
.banner .link_rules{position: absolute; left: 1em; top: 11px; font-size: 20px; color: #795eba;}
.banner .btn_attend{position: absolute; left: 43%; top: 58%; z-index: 5; width:24%; height: 11%; text-indent: -9999px; overflow: hidden;}

.entrys{
	text-align: center;
	padding-top: 5px;
	background: #e4dffb;
	background: -moz-linear-gradient(left,  #e4dffb 1%, #fdfdff 16%, #fdfdff 85%, #e4dffb 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,#e4dffb), color-stop(16%,#fdfdff), color-stop(85%,#fdfdff), color-stop(100%,#e4dffb));
	background: -webkit-linear-gradient(left,  #e4dffb 1%,#fdfdff 16%,#fdfdff 85%,#e4dffb 100%);
	background: -o-linear-gradient(left,  #e4dffb 1%,#fdfdff 16%,#fdfdff 85%,#e4dffb 100%);
	background: -ms-linear-gradient(left,  #e4dffb 1%,#fdfdff 16%,#fdfdff 85%,#e4dffb 100%);
	background: linear-gradient(to right,  #e4dffb 1%,#fdfdff 16%,#fdfdff 85%,#e4dffb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4dffb', endColorstr='#e4dffb',GradientType=1 );
}
.entry{display: inline-block; width: 31%; margin: 0 0.5%; vertical-align: top;}
.entry img{width: 100%; height: auto;}
.entry_ico1{position: absolute; width: 74px; height: 71px; background: url(../img/bubble_zan.png) 0 0 no-repeat; z-index: 5; left: 20%; top: 20%;}
.entry_ico1{position: absolute; width: 74px; height: 71px; background: url(../img/bubble_zan.png) 0 0 no-repeat; z-index: 5; left: 20%; top: 20%;}

.foot_nav{ margin: 0 6.25%; padding: 20px 0;}
.foot_nav li{border-bottom: 2px #cfcce4 solid; padding: 18px 0; font-family: "SimHei", Arial, sans-serif;}
.foot_nav li:last-child{border: none;}
.foot_nav li a{display: block; font-size: 30px; color: #583586; background: url(../img/arrow_right.gif) 96% center no-repeat;}




/*单页phase2*/
.invite_box{ margin: 10px; padding: 15px 0; -webkit-box-shadow: inset 0 0 23px 6px #ead8f0; -moz-box-shadow: inset 0 0 23px 6px #ead8f0; box-shadow: inset 0 0 23px 6px #ead8f0; }
.invite_box:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.invite_txt{ float: left; width: 44%; margin-left: 3%; padding-top: 5%;}
.invite_txt img{width: 100%; height: auto;}
.invite_txt .invite_title{text-align: center; margin-bottom: 5%; font-size: 20px; color: #a35eba;}
.invite_img{float: right; width: 46%; margin-right: 4%;}
.invite_img .single_show{width: 100%;}


.single_show{ position: relative; float: left; width:47%; margin-bottom:10px; background: #fff; -webkit-box-shadow: 1px 2px 3px #b2a6d2; -moz-box-shadow: 1px 2px 3px #b2a6d2; box-shadow: 1px 2px 3px #b2a6d2;}
.single_show .show_txt{padding: 8px 10px; min-height: 40px; margin-bottom: 40px; font-size: 17px; line-height: 1.4; color: #555;}
.single_show .show_share{ position: absolute; right: 4px; bottom: 6px;}



a.weibo {
	display: inline-block;
	background: url('../img/social-icons-s9e03040fc9.png') 0 -210px no-repeat;
	width: 18px;
	height: 18px;
	background-size: 84px;
	position: relative;
	z-index: 100;
	cursor: pointer;
}
a.qzone {
	display: inline-block;
	background: url('../img/social-icons-s9e03040fc9.png') 0 -154px no-repeat;
	width: 18px;
	height: 18px;
	background-size: 84px;
	position: relative;
	z-index: 100;
	cursor: pointer;
}
a.qq_friend {
	display: inline-block;
	background: url('../img/social-icons-s9e03040fc9.png') 0 -246px no-repeat;
	width: 18px;
	height: 18px;
	background-size: 84px;
	position: relative;
	z-index: 100;
	cursor: pointer;
}
a.wechat {
	display: inline-block;
	background: url('../img/social-icons-s9e03040fc9.png') 0 -228px no-repeat;
	width: 20px;
	height: 18px;
	background-size: 84px;
	position: relative;
	z-index: 100;
	top: 2px;
	cursor: pointer;
}
.show_like_it{
	display: inline-block;
	background: url('../img/social-icons-s9e03040fc9.png') 0 -269px no-repeat;
	padding-left: 16px;
	height: 18px;
	line-height: 18px;
	font-size: 13px;
	color: #d9519e;
	background-size: 84px;
	position: relative;
	z-index: 100;
	top: 3px;
	cursor: pointer;
	vertical-align: top;
}

/*.share_arrow,.share_open{
	display: inline-block;
	background: url('../img/social-icons-s9e03040fc9.png') -37px -381px no-repeat;
	width: 12px;
	height: 10px;
	position: relative;
	top:-8px;
	z-index: 100;
	cursor: pointer;
	margin-left: 6px;
}
.share_open{background-position:-49px -381px;}*/



.pk_box{ margin: 0 10px 10px 0; position: relative; -webkit-box-shadow: 1px 2px 3px #b2a6d2; -moz-box-shadow: 1px 2px 3px #b2a6d2; box-shadow: 1px 2px 3px #b2a6d2;}
.pk_box img{width: 100%; height: auto;}
.pk_box .link_detail{position: absolute; right: 4%; bottom: 10%; font-size: 20px; color: #795eba;}
.pk_box .btn_attend{position: absolute; left: 38%; bottom: 10%; z-index: 5; width:33%; height: 24%; text-indent: -9999px; overflow: hidden;}


.show_block{background: url(../img/circle_bg.gif); padding-top: 8px;}
.sort_row{text-align: center; padding: 8px 0 14px; font-size: 20px; color: #808285;}
.sort_row span{}
.sort_row a{ position: relative; margin: 0 7px; padding-right: 8px; color: #a397c8;}
.sort_row a:after{
	content:" ";
	position: absolute;
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	font-size:0;
	border:5px solid transparent;
	border-top-style:solid;
	border-top-color:#a397c8;
	right: -5px;
	top: 42%;
}
.sort_row a.on{color: #7c61bb;}
.sort_row a.on:after{border-top-color:#7c61bb;}

.show_holder{ padding: 0 0 80px 7px;}
.show_holder:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}


.award_block{padding-top: 21px; background: url(../img/bottom_wave.png) top repeat-x; margin-top: -10px; position: relative; z-index: 10; color: #fff; font-size: 26px;}
.award_block_inside{background: #a397c8; position: relative; padding: 20px 0 0; border-bottom: 1px #fff dashed;}
.award_badge{position: absolute; background: url(../img/ico_award.png) 0 0 no-repeat; width: 191px; height: 189px; left: 5%; top: -10%; text-indent: -9999px; overflow: hidden;}

.award_tab{ text-align: right; padding-right: 15%; margin-bottom: 38px;}
.award_tab a{display: inline-block; width: 123px; height: 60px; font-size: 0; margin: 0 1%; vertical-align: top;}
.award_tab a#week1{ background: url(../img/week1.png) 0 0 no-repeat;}
.award_tab a#week1.on{ background: url(../img/week1_on.png) 0 0 no-repeat;}
.award_tab a#week2{ background: url(../img/week2.png) 0 0 no-repeat;}
.award_tab a#week2.on{ background: url(../img/week2_on.png) 0 0 no-repeat;}

.award_title{ width: 195px; height: 35px; background: url(../img/txt_anman.png) 0 0 no-repeat; margin: 0 auto 30px; text-indent: -9999px; overflow: hidden;}

.award_name{margin-bottom: 28px; overflow: hidden;}
.award_name .an_title{ float: left; width: 14%; margin-left: 4%;}
.award_name .an_title img{width: 100%; height: auto;}
.award_name .an_list{ float: right; width: 74%; margin-right: 4%;}
.award_name .an_list li{float: left; width: 50%; margin-bottom: 5px;}
.award_name .an_list li span{ float: left; width: 53%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.award_name .an_list li strong{ float: left; font-weight: normal;}

.check_more{background: url(../img/txt_check_more.png) 0 0 no-repeat; width: 132px; height: 33px; display: block; margin: 0 auto 30px; text-indent: -999px; overflow: hidden;}

.award_line{height: 5px; background: url(../img/dot_line.gif) top repeat-x; text-indent: -999px; overflow: hidden;}


/*my_zone*/
.user_block{ margin: 1.5%; padding: 4.8%; -webkit-box-shadow: inset 0 0 70px 6px #ead8f0; -moz-box-shadow: inset 0 0 70px 6px #ead8f0; box-shadow: inset 0 0 70px 6px #ead8f0;}
.ub_title{ width: 86px; margin-bottom: 14px;}
.ub_title img{width: 100%; height: auto;}
.ub_upload{border: 2px #ae71c2 dashed; background: #e5d6e6;}
.ub_upload:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.icon_add{ width: 100px; height: 100px; margin: 90px auto 0; position: relative; border: 2px #ae71c2 dashed; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.icon_add:after{content:" "; width: 50px; height: 6px; position: absolute; left: 50%; top: 50%; background: #ae71c2; margin: -3px 0 0 -25px}
.icon_add:before{content:"."; width: 6px; height: 50px; position: absolute; left: 50%; top: 50%; background: #ae71c2; margin: -25px 0 0 -3px;}
.icon_add_txt{ width: 188px; margin: 0 auto; padding-top: 16px; margin-bottom: 80px;}
.icon_add_txt img{width: 100%; height: auto;}
.ub_welcome{padding: 14px 0; font-size: 30px; color: #7e65b4;}
.ub_steps{ margin-bottom: 20px;}

.btn_next_step{ display: block; width: 155px; height: 52px; background: url(../img/btn_next.png) 0 0 no-repeat; margin: 0 auto; text-indent: -999px; overflow: hidden;}

/*my_zone3*/
.ub_upload2{background: #fff; padding: 4% 0;}
.yulan_txt{float: left; width: 38%; margin-left: 3%; padding-top: 3%;}
.yulan_img{float: right; width: 50%; margin-right: 4%;}
.yulan_img .single_show{width: 100%;}

.btns_row{clear: both; text-align: center; padding-top: 8%;}
.btns_row a.btn_back,
.btns_row a.btn_submit,
.btns_row a.btn_finish{ height: 26px; display: inline-block; margin: 0 3%; font-size: 0; vertical-align: top;}
.btns_row a.btn_back{ width: 63px; background: url(../img/btn_back.png) 0 0 no-repeat; background-size: 100%;}
.btns_row a.btn_submit{ width: 77px; background: url(../img/btn_submit.png) 0 0 no-repeat; background-size: 100%;}
.btns_row a.btn_finish{ width: 77px; background: url(../img/btn_finish.png) 0 0 no-repeat; background-size: 100%; position: relative; top: -4px;}

/*my_zone4*/
.yulan_txt2{float: left; width: 41%; margin-left: 4%; padding-top: 12%;}
.yulan_img2{float: right; width: 49%; margin-right: 4%;}
.yulan_img2 .single_show{width: 100%;}
.btns_row2{text-align: right;}





@media screen and (max-width:640px) {
	#wrapper{ width: auto;}

	.foot_nav{ margin: 0 6.25%; padding-top: 20px;}
	.foot_nav li{ border-bottom: 1px #cfcce4 solid; padding: 10px 0;}
	.foot_nav li:last-child{border: none;}
	.foot_nav li a{display: block; font-size: 15px; -webkit-background-size: 10px; background-size: 10px;}
	

	.banner .link_rules{ font-size: 14px;}
	.invite_txt .invite_title{ font-size: 14px;}
	.single_show .show_txt{ font-size: 13px;}
	.pk_box .link_detail{ font-size: 14px;}
	.sort_row{ font-size: 16px;}

	.award_block{ background-size: 26px; padding-top: 9px;}

	.award_badge{ width: 95px; height: 93px; background-size: 100%; top: -5%;}

	.award_tab a{width: 64px; height: 33px;}
	.award_tab a#week1,
	.award_tab a#week1.on,
	.award_tab a#week2,
	.award_tab a#week2.on{ background-size: 100%;}

	.award_title{width: 147px; height: 29px; background-size: 100%;}

	.award_block{font-size: 13px;}

	.check_more{width: 66px; height: 17px; -webkit-background-size: 100%; background-size: 100%;}
	
	.ub_title{width: 64px; margin-bottom: 10px;}
	.icon_add_txt{width: 129px;}
	.ub_welcome{ font-size: 15px; padding: 7px 0;}
	.btn_next_step{width: 78px; height: 26px; -webkit-background-size: 100%; background-size: 100%;}


}

